html{
    box-sizing:border-box
}
*,*:before,*:after{
    box-sizing:inherit
}

html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
a{
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
a:active,a:hover{
    outline-width:0
}
img{
    border-style:none
}
hr{
    box-sizing:content-box;height:0;
    overflow:visible
}
button,input,textarea{
    font:inherit;
    margin:0
}
button,input{
    overflow:visible
}
button{
    text-transform:none
}
button{
    -webkit-appearance:button
}
button::-moz-focus-inner{
    border-style:none;
    padding:0
}
button:-moz-focusring{
    outline:1px dotted ButtonText
}
textarea{
    overflow:auto
}
[type=radio]{
    padding:0
}
::-webkit-input-placeholder{
    color:inherit;
    opacity:0.54
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
/* End extract */
html,body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5
}
html{
    overflow-x:hidden
}
h1{
    font-size:36px
}
h2{
    font-size:30px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}
h1,h2,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;margin:10px 0
}
hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}
img{
    margin-bottom:-5px
}
a{
    color:inherit
}
.lmsbutton{
    border:none;
    display:inline-block;
    outline:0;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.lmsbutton{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}   
.lmsbutton:disabled{
    cursor:not-allowed;
    opacity:0.3}
:disabled *{
    pointer-events:none
}
.lmsdisplay-container{
    position:relative
}
.lmsdropdown-hover{
    position:relative;
    display:inline-block;
    cursor:pointer
}
.lmsdropdown-hover:hover .lmsdropdown-content{
    display:block;
    z-index:1
}
.lmsdropdown-hover:hover > .lmsbutton:first-child{
    background-color:#ccc;
    color:#000
}
.lmsdropdown-content{
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0
}
.lmsbar-block .lmsbar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    outline:none;
    white-space:normal;
    float:none
}
.lmscontainer:after,.lmscontainer:before,.lmspanel:after,.lmspanel:before{
    content:"";
    display:table;clear:both
}
@media (max-width:600px){
.lmsdropdown-hover.lmsmobile .lmsdropdown-content{
    position:relative
    }
    .lmsmobile{
        display:block;
        width:100%!important
    }
    .lmsbar-item.lmsmobile,.lmsdropdown-hover.lmsmobile{
        text-align:center
    }
.lmsdropdown-hover.lmsmobile,.lmsdropdown-hover.lmsmobile .lmsbutton{
    width:100%
    }
}
.lmsdisplay-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
.lmscontainer,.lmspanel{
    padding:0.01em 16px
}
.lmspanel{
    margin-top:16px;
    margin-bottom:16px
}
.lmscard{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.lmshover-opacity:hover{
    opacity:0.60
}
.lmsopacity-min{
    opacity:0.75
}
.lmshover-sepia:hover{
    filter:sepia(100%)
}
.lmslarge{
    font-size:18px!important
}
.lmsleft-align{
    text-align:left!important
}
.lmsright-align{
    text-align:right!important
}
.lmscenter{
    text-align:center!important
}
.lmsborder{
    border:1px solid #ccc!important
}
.lmstopbar{
    border-top:6px solid #ccc!important
}
.lmsbottombar{
    border-bottom:6px solid #ccc!important
}
.lmsleftbar{
    border-left:6px solid #ccc!important
}
.lmsrightbar{
    border-right:6px solid #ccc!important
}
.lmsmargin-left{
    margin-left:16px!important
}
.lmspadding{
    padding:8px 16px!important
}
.lmspadding-24{
    padding-top:24px!important;
    padding-bottom:24px!important
}
.lmsright{
    float:right!important
}
.lmsbutton:hover{
    color:#000!important;
    background-color:#ccc!important
}
/*colors*/
.lmsblue{
    color:#fff!important;
    background-color:#2196F3!important
}
.lmsgreen{
    color:#fff!important;
    background-color:#4CAF50!important
}
.lmswhite{
    color:#000!important;
    background-color:#fff!important
}
.lmsblack{
    color:#fff!important;
    background-color:#000!important
}
.lmsdark-gray{
    color:#fff!important;
    background-color:#616161!important
}
.lmspale-green{
    color:#000!important;
    background-color:#ddffdd!important
}
.lmstext-green{
    color:#4CAF50!important
}
.lmstext-white{
    color:#fff!important
}
.lmsborder-green{
    border-color:#4CAF50!important
}


