@media only screen and (max-width: 399px) {
    /*assumed hight is 320px for apple iphones*/
body{

    font-family: sans-serif;
}
    .headtext {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.headtext button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.headtext button:hover {
  background-color: #555;
  color: white;
}     
p.class{
    position: absolute;
    top:1%;
    right:10%;
}
a.login{
    color: white;
    text-decoration: none;
        }
div.one{
    height: 6%;
    font-size: 10px;
    background-color: black;
    color:white;
    
}
div.two{
    height: 45%;
    font-size: 10px;
    background-color: #555555;
        color:white; 

    }
div.three{
    height: 80%;
    color:white;
  background-color: #555555;

}
div.four{
     height: 40%;
    background-color: #F9F8F8;
       color:black;
}
div.five{
      height: 35%;
      background-color: white;
    color:black;
}
div.six{
      height: 25%;
      background-color: #f9f8f8;
    color:black;
  
}
div.seven{
      height: 40%;
        background-color: #555555;
    color:white;
}
div.eight{
      height: 8%;
      background-color: black;
    color:white;
}
div.twoin{
    background-color: #555555;
}
div.over{
   top: 35%;
    right: 20%;
    width: 20%;
    }
button.b1 {
  display: inline-block;
  background-color: gray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 11px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  cursor: pointer;
  float: left;

    
}

button.b1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.b1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.b1:hover span {
  padding-right: 25px;
}

button.b1:hover span:after {
  opacity: 1;
  right: 0;
}
button.button {
    background-color: black; 
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

}
@media only screen and (max-width: 639px) and (min-width: 400px) {
    /*assumed hight is 320px for apple iphones*/
body{

    font-family: sans-serif;
}
    .headtext {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.headtext button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.headtext button:hover {
  background-color: #555;
  color: white;
}     
p.class{
    position: absolute;
    top:1%;
    right:10%;
}
a.login{
    color: white;
    text-decoration: none;
        }

div.one{
    height: 6%;
    font-size: 10px;
    background-color: black;
    color:white;
    
}
div.two{
    height: 45%;
    font-size: 10px;
    background-color: #555555;
        color:white; 

    }
div.three{
    height: 80%;
    color:white;
  background-color: #555555;

}
div.four{
     height: 40%;
    background-color: #F9F8F8;
       color:black;
}
div.five{
      height: 35%;
      background-color: white;
    color:black;
}
div.six{
      height: 25%;
      background-color: #f9f8f8;
    color:black;
  
}
div.seven{
      height: 40%;
        background-color: #555555;
    color:white;
}
div.eight{
      height: 8%;
      background-color: black;
    color:white;
}
div.twoin{
    background-color: #555555;
}
div.over{
   top: 35%;
    right: 20%;
    width: 20%;
    }
button.b1 {
  display: inline-block;
  background-color: gray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 11px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  cursor: pointer;
  float: left;

    
}

button.b1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.b1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.b1:hover span {
  padding-right: 25px;
}

button.b1:hover span:after {
  opacity: 1;
  right: 0;
}
button.button {
    background-color: black; 
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  /*assumed hight is 360px for HTC phones*/
body{

    font-family: sans-serif;
}
  .headtext {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.headtext button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.headtext button:hover {
  background-color: #555;
  color: white;
}     


div.one{
    height: 6%;
    font-size: 10px;
    background-color: black;
    color:white;
    
}
div.two{
    height: 45%;
    font-size: 10px;
    background-color: #555555;
        color:white; 

    }
div.three{
    height: 80%;
    color:white;
  background-color: #555555;

}
div.four{
     height: 40%;
    background-color: #F9F8F8;
       color:black;
}
div.five{
      height: 35%;
      background-color: white;
    color:black;
}
div.six{
      height: 25%;
      background-color: #f9f8f8;
    color:black;
  
}
div.seven{
      height: 40%;
        background-color: #555555;
    color:white;
}
div.eight{
      height: 8%;
      background-color: black;
    color:white;
}
div.twoin{
    background-color: #555555;
}
div.over{
   top: 35%;
    right: 20%;
    width: 20%;
    }
button.b1 {
  display: inline-block;
  background-color: gray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 11px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  cursor: pointer;
  float: left;

    
}

button.b1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.b1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.b1:hover span {
  padding-right: 25px;
}

button.b1:hover span:after {
  opacity: 1;
  right: 0;
}
button.button {
    background-color: black; 
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

}
@media only screen and (min-width: 768px) and (max-width: 959px) {
 /*assumed hight is 1024px for tablats(ipads)*/
 body{

    font-family: sans-serif;
}
    .headtext {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.headtext button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.headtext button:hover {
  background-color: #555;
  color: white;
}  

p.class{
    position: absolute;
    top:1%;
    right:10%;
}
a.login{
    color: white;
    text-decoration: none;
        }


div.one{
    height: 4%;
    font-size: 10px;
    background-color: black;
    color:white;
    
}
div.two{
    height: 8%;
    font-size: 10px;
    background-color: #555555;
        color:white; 

    }
div.three{
    height: 60%;
    color:white;
  background-color: #555555;

}
div.four{
     height: 40%;
    background-color: #F9F8F8;
       color:black;
}
div.five{
      height: 35%;
      background-color: white;
    color:black;
}
div.six{
      height: 25%;
      background-color: #f9f8f8;
    color:black;
  
}
div.seven{
      height: 40%;
        background-color: #555555;
    color:white;
}
div.eight{
      height: 8%;
      background-color: black;
    color:white;
}
div.twoin{
    background-color: #555555;
}
div.over{
   top: 35%;
    right: 20%;
    width: 20%;
    }
button.b1 {
  display: inline-block;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 11px;
  width: 15%;
  height: 100%;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
    
}
    button.b1long {
  display: inline-block;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 11px;
  width: 20%;
  height: 100%;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
    
}
button.b1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.b1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.b1:hover span {
  padding-right: 25px;
}

button.b1:hover span:after {
  opacity: 1;
  right: 0;
}
button.button {
    background-color: black; 
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
  /*assumed hight is 600px for tablets*/
body{

    font-family: sans-serif;
}

    .headtext {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.headtext button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.headtext button:hover {
  background-color: #555;
  color: white;
}   
p.class{
    position: absolute;
    top:1%;
    right:10%;
}
a.login{
    color: white;
    text-decoration: none;
        }


div.one{
    height: 4%;
    font-size: 10px;
    background-color: black;
    color:white;
    
}
    div.two{
    height: 8%;
    font-size: 10px;
    background-color: #555555;
        color:white; 

    }
div.three{
    height: 60%;
    color:white;
  background-color: #555555;

}
div.four{
     height: 40%;
    background-color: #F9F8F8;
       color:black;
}
div.five{
      height: 35%;
      background-color: white;
    color:black;
}
div.six{
      height: 25%;
      background-color: #f9f8f8;
    color:black;
  
}
div.seven{
      height: 40%;
        background-color: #555555;
    color:white;
}
div.eight{
      height: 8%;
      background-color: black;
    color:white;
}
div.twoin{
    background-color: #555555;
}
div.over{
   top: 35%;
    right: 20%;
    width: 20%;
    }
button.b1 {
  display: inline-block;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 11px;
  width: 15%;
   height: 100%;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
    
}
button.b1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.b1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.b1:hover span {
  padding-right: 25px;
}

button.b1:hover span:after {
  opacity: 1;
  right: 0;
}
button.button {
    background-color: black; 
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1599px) {
    /*assumed hight is 768px laptops, landscape tabs*/
body{

    font-family: sans-serif;
}
 
 .headtext {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.headtext button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.headtext button:hover {
  background-color: #555;
  color: white;
}   

p.class{
    position: absolute;
    top:1%;
    right:10%;
}
a.login{
    color: white;
    text-decoration: none;
        }


div.one{
    height: 4%;
    font-size: 10px;
    background-color: black;
    color:white;
    
}
    div.two{
    height: 8%;
    font-size: 10px;
    background-color: #555555;
        color:white; 

    }
div.three{
    height: 60%;
    color:white;
  background-color: #555555;

}
div.four{
     height: 40%;
    background-color: #F9F8F8;
       color:black;
}
div.five{
      height: 35%;
      background-color: white;
    color:black;
}
div.six{
      height: 25%;
      background-color: #f9f8f8;
    color:black;
  
}
div.seven{
      height: 40%;
        background-color: #555555;
    color:white;
}
div.eight{
      height: 8%;
      background-color: black;
    color:white;
}
div.twoin{
    background-color: #555555;
}
div.over{
   top: 35%;
    right: 20%;
    width: 20%;
    }
button.b1 {
  display: inline-block;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 11px;
  width: 15%;
   height: 100%;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
    
}
button.b1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.b1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.b1:hover span {
  padding-right: 25px;
}

button.b1:hover span:after {
  opacity: 1;
  right: 0;
}
button.button {
    background-color: black; 
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
}

@media only screen and (min-width: 1600px) {
    /*assumed hight is 1024px for large screens*/

}