body{
    font-family: Arial;
}
h1.head{
    font-size: 30px;
    background-color: black;
    color: white;
    opacity: 0.7;
    font-family:sans-serif;
    
}
p.class{
    position: absolute;
    top:1%;
    right:10%;
}
a.login{
    color: white;
    text-decoration: none;
        }
p.head{
    font-size: 15px;
    color:black;
  
}
img.head{
    height: 100%;
    width: 100%;
}
div.one{
    height: 4%;
    width: 100%;
    font-size: 10px;
    background-color: black;
    color:white;
    
}
div.two{
    height: 8%;
    width: 100%;
    font-size: 10px;
    background-color: #555555;
    color:white;

   
}
div.three{
    height: 40%;
    width: 100%;
    color:white;
}
div.four{
     height: 40%;
     width: 100%;
    background-color: #F9F8F8;
       color:black;
}
div.five{
      height: 35%;
     width: 100%;
      background-color: white;
    color:black;
}
div.six{
      height: 25%;
     width: 100%;
      background-color: #f9f8f8;
    color:black;
}
div.seven{
      height: 40%;
     width: 100%;
        background-color: #555555;
    color:white;
}
div.eight{
      height: 8%;
     width: 100%;
      background-color: black;
    color:white;
}
button.b1 {
  display: inline-block;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 18px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
    
}
button.b1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.b1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.b1:hover span {
  padding-right: 25px;
}

button.b1:hover span:after {
  opacity: 1;
  right: 0;
}
button.b2 {
    background-color: black;
    color: white;
    position: absolute;
    top: 35%;
    right: 35%;
    border: none;
     padding: 10px 20px;
    text-align: center;
    text-decoration: none;
     font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    
}
button.b3 {
    background-color: white;
    color: black;
    position: absolute;
    top: 35%;
    right: 25%;
    border: none;
     padding: 10px 20px;
    text-align: center;
    text-decoration: none;
     font-size: 12px;
    margin: 4px -15px;
    cursor: pointer;
    
}
