body{
    font-family: Arial;
    background color : #555555;
}
.top{
   width: 100%;
   height: 20%;
    float: left;
}
.bottom{
    width: 100%;
    height: 80%;
    float: left;
}
.resize{
     max-width:100%;
    height: auto;
}
.description{
   text-align:center;
    font-size: 12px;
  
}

.click{
   text-align: center;
    
}
.access{
   text-align: center;
}
